@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");
body {
  font-family: "Fredoka", sans-serif;
  background-color: #cce7e8;
}

.contact-img {
  width: 100px;
  border-radius: 50%;
}

.contact-img-details {
  width: 150px;
  border-radius: 50%;
}